body {
}

.tabla {
    border: 1px solid black;
    border-radius: 10px;
    overflow-y: scroll;
}

table {
    text-align: center;
    border-collapse: separate;
    border-spacing: 0px;
}

th, h1{
    color: brown;
}

table a, p a {
    text-decoration: none;
    background-color: deepskyblue;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
}
