body {
}

h3{
    display: inline-block;
}
.tabla{
    max-height: 400px;
    overflow-y: scroll;
}

.tabla td:last-child{
    padding-left: 50px;
}

.tabla td:nth-child(2){
    padding-left:50px;
}

#Agregar, #Guardar_cambios {
    background-color: lightgreen;
    border: none;
    border-radius: 10px 10px 10px 10px;
    padding-left: 410px;
    padding-right: 410px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
}

#Guardar_cambios {
    background-color: mediumorchid;
}

#Cancelar_eliminar{
    background-color:blue;
    color: white;
    text-decoration: none;
}

#Cancelar_editar, #Editar_detalles {
    display: inline;
    position: absolute;
    right: 10px;
    top: 80px;
    background-color: red;
    color: white;
    text-decoration: none;
}

#Editar_detalles{
    background-color: lightgreen;
}

.tabla img{
    width:250px;
}

table {
    text-align: center;
    border-collapse: separate;
    border-spacing: 0px;
}

th, h1 {
    color: brown;
}

table a, p a {
    text-decoration: none;
    background-color: deepskyblue;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
}